.elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
    margin: 1rem 0;
    width: 40rem;
    background-color:  transparent;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  
.allcont {
  display: flex;
  max-height: 15rem;
}
  
  
.content {
    width: 100%;
    text-align-last:left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  }
  
.content h2 {
    font-size: 1.4rem;
    color: rgb(245, 245, 245);
    padding: 0.5rem;
    margin: 0.7rem;
    font-weight: normal;
  }

.content h3 {
    font-size: 1.2rem;
    color: rgb(196, 196, 196);
    padding: 0.5rem;
    margin: 0.7rem;
    font-weight: lighter;
    text-decoration: none;
  }

.content p {
  font-size: 1.2rem;
  color: rgb(196, 196, 196);
  padding: 0.5rem;
  margin: 1rem;
  font-weight: lighter;
  text-decoration: none;
  }
  
.actions {
    padding: 1.5rem;
    text-align: center;
    align-items: fle;
  }
  
.enabledButton {
  font: inherit;
  cursor: pointer;
  background-color: rgb(80, 5, 5);
  color: #ccc;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
.disabledButton {
    font: inherit;
    cursor: pointer;
    background-color: rgb(43, 2, 2);
    color: #7e7e7e;
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

.actions button:hover,
.actions button:active {
  border-color: #262626;
  }